{
  "ConnectionStrings": {
    "DefaultConnection": "Host=192.168.1.xxx;Port=5432;Database=aci_v4;Username=YOUR_USER;Password=YOUR_PASSWORD"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  }
}
